---
import { getComponentData } from '../services/component-data';
import Sidebar from './Sidebar.astro';
import ComponentViewer from './ComponentViewer.astro';
import ComponentSlots from './ComponentSlots.astro';
import ComponentProps from './ComponentProps.astro';
import ControlBar from './ControlBar.astro';
import ControlPanel from './ControlPanel.astro';
import SettingsPopup from './SettingsPopup.astro';

const component = await getComponentData(Astro);

const componentHasProps = component
  ? component.component.props.length > 0
  : false;

const componentHasSlots = component
  ? component.component.slots.length > 0
  : false;
---

<div class="dashboard">
  <Sidebar {component} />
  <div class="main">
    {
      component && (
        <Fragment>
          <ControlBar
            componentPath={component.component.path}
            hasControlPanel={componentHasProps || componentHasSlots}
          />
          <ComponentViewer />
          <ControlPanel
            hasProps={componentHasProps}
            hasSlots={componentHasSlots}
          >
            <div slot="props">
              <ComponentProps {component} />
            </div>
            <div slot="slots">
              <ComponentSlots {component} />
            </div>
          </ControlPanel>
        </Fragment>
      )
    }
  </div>
  <SettingsPopup />
</div>

<style>
  .dashboard {
    display: flex;
    height: 100vh;
  }

  .main {
    width: 100%;
    position: relative;
    overflow: hidden;
  }
</style>
